<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
</head>
<body>
    <form action="/personal/get-password" method="post">
        <div>
          <label for="logemail"> E-Mail</label>
          <input type="email" name="logemail" class="input-email" />
        </div>
        <div>
          <button type="submit">Find Password</button>
        </div>       
      </form>
</body>
</html>