<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Password</title>
</head>
<body>
    <h1>Your password is:</h1>
    <table border="1" width="100%">
        <tr>
            <th>Passkey:</th>
        </tr>
        <% if(passkey.length > 0){ %>
            <% for(var i = 0; i < passkey.length; i++){ %>
                <tr>
                    <td><%- passkey[i].Passkey %></td>
                </tr>
            <% } %>
        <% } %>
    </table>

</body>
</html>